<div id="goalform">
<form name="goal-form" ng-submit="addGoal()">
  <!--
  TODO:
    - Create inputs for a Goal title, due date and description
    - Use ng-submit or ng-click directives to trigger the submit functionality
  -->
  <h1>Add New Goal</h1>
  <input placeholder='Goal Title' ng-model="newGoal.title"> Goal Title
  <br/>
  </input>
  <br/>
  <input placeholder='Description' ng-model="newGoal.description"> Description
  <br/>
  </input>
  <br/>
  <input placeholder='Due Date' ng-model="newGoal.due_date"> Due Date
  <br/>
  </input>
  <br/>
  <input type="submit" value="submit"></input>

</form>
<br/>
<br/>

<a href="#/goals">
   Back
</a>
</div>